:root {
  --primary-color: #0662b3;
  --headings-color: #282828;
  --paragraph-color: #353535f3;
  --primary-hover: #0662b3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-weight: 700;
}

p,
li,
span {
  color: var(--paragraph-color);
}


.movie-title{
   background: rgba(255, 255, 255, 0.54);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.066);
backdrop-filter: blur(4.2px);
-webkit-backdrop-filter: blur(4.2px);
font-size: 1.2rem;
border: 1px solid rgba(255, 255, 255, 0.3);
}