:root {
  --primary-color: #0662b3;
  --headings-color: #282828;
  --paragraph-color: #353535f3;
  --primary-hover: #0662b3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
}

p,
li,
span {
  color: var(--paragraph-color);
}
